#Data type and Stuctures Theory Assignment

1. What are data structures, and why are they important?
 -  Data structure is way of organizing and storing data so that it can be accessed and manipulated effeciently.

2. Explain the difference between mutable and immutable data type with examples.
 -  If we can make change ispecialy remove any element from the data type it is called mutabel data type for example list and sets. While if can not remove or make change in any element from the data type it is called immutable data type for example tuple and string.

3. What are the main difference between lists and tuples in pytho?
 -  The main difference between lists and tuple is list can be change so it is mutable while tuple can not be change so it is immutable.

4. Describe how dictionaries store data.
 -  It store the data as key value pair the value store in assosiated key pair in block data.

5. Why might you use a set instead of a list in python?
 -  Set can autometicaly remove any dublicate value. so when we require unorder unique values we might be usse set instead of list.

6. What is a string in Python, and how is it different from a list?
 -  String is a combination of charecters it is not seperated by any commas unlike list seperates. string is immutable unlike list.

7. How do tuples ensure data integrity in Python?
 -  Tuples in Python ensure data integrity primarily through their mmutability. Once a tuple is created, its elements cannot be modified this characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle

8. What is hash table, and how does it relate to dictionaries in Python?
 -  In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, the key is passed through a hash function to determine the index in the underlying hash table where the value will be stored. When retrieving a value, the key is hashed again, and the corresponding index is used to locate the value.

9. Can list contain different data types in Python?
 -  Yes, list can store a heterogeneous data with order mean it can store any data type.

10. Explain why strings are immutabel in Python?
 -  strings are immutable because we can add, remove or change the element or block value of string.

11. What advantage do dictionaries offer over lists for certain tasks?
 -  So it is more efficient to use dictionaries for the searching of elements. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future

12. Describe a sceniario where using a tuple would be preferable over a list.
 -  If we want the value unchanged like passwords, employee ids etc we used tuple instead of list.

13. How do sets hendle duplicate values in Python?
 - Basicaly set is list of unique value with unorder manner so it will remove duplicate values.

14. How does the "in" keyword work differently for lists and dictionaries?
 -  for list we can use "in" key word by algorithmic because the keys of list has ordered inegers so we can use like 'for i in list:" and it will operate with order of key while in dictionaries there is some unique key present so we can not use "in" key word like list. we can only use it as a specifice key for specific value and it will reture as true or false.

15. Can you modify the elemets of a tuple? Explain why or why not?
 -  No, you cannot change the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after they are created.

16. What is a nested dictionary, and give example of its use cases?
 -  A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for representing hierarchical data, where each level of the hierarchy can have its own set of key-value pairs. Nested dictionaries are useful for organizing complex data structures, like to maintain data like a tree where a branch of tree has more branches and those braches has more and more branches.

17. Describe the time complexity of accessing elements in a dictionary.
  -  

18. In What situation are lists preferred over dictionaries?
 - When we want to access all the values by order of its key we will use list intead of dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 -  Because dictionaries has key value pair and the key does not have any order to follow so we can not access all the key value orderly we can only access it seperatly.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  -  As, I mension above list has order key it has key as integers start with zero with an order so we can access all the key value algorithamic and operate all data but in dictionaty the key has unique and unordered keys so we can not operate all the data by orderly we need operate it separate key vaule.

#Data type and Stuctures Practical Assignment

In [1]:
#Ans. 1
a = "Nikunj"
print(a)

Nikunj

In [2]:
#Ans. 2
b = "Hello World"
len(b)

11

In [5]:
#Ans. 3
c = "Python Programming"
print(c[:3])

Pyt

In [8]:
#Ans. 4
d="hello"
print(d.upper())

HELLO

In [13]:
#Ans. 5
e = "I like Apple"
e.replace("Apple","Orange")

'I like Orange'

In [19]:
#Ans. 6
f = list(range(1,6))
print(f)

[1, 2, 3, 4, 5]

In [20]:
#Ans. 7
g = list(range(1,5))
g.append(10)
print(g)

[1, 2, 3, 4, 10]

In [22]:
#Ans. 8
h = list(range(1,6))
h.remove(3)
print(h)

[1, 2, 4, 5]

In [23]:
#Ans. 9
i = ['a', 'b', 'c', 'd']
print(i[1])

b

In [25]:
#Ans. 10
j = list(range(10,60,10))
print(j)
print(j[::-1])

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [27]:
#Ans. 11
k = tuple(range(100,400,100))
print(k)

(100, 200, 300)

In [29]:
#Ans. 12
l = ('red', 'green', 'blue', 'yellow')
print(l[1:])

('green', 'blue', 'yellow')

In [33]:
#Ans. 13
m = (10,20,5,15)
print(min(m))

5

In [34]:
#Ans. 14
n = ('dog', 'cat', 'rabbit')
print(n.index('cat'))

1

In [35]:
#Ans.15
o = ('Apple', 'Banana', 'Cherry')

if 'kiwi' in o:
    print('kiwi is present')
else:
    print('kiwi is not present')

kiwi is not present

In [36]:
#Ans. 16
p = {'a', 'b', 'c'}
print(p)

{'a', 'c', 'b'}

In [38]:
#Ans. 17
q = set(range(1,6))
print(q)
print(q.clear())

{1, 2, 3, 4, 5}
None

In [44]:
#Ans. 18
s = set(range(1,5))
print(s)
print(s.remove(4))

{1, 2, 3, 4}
None

In [46]:
#Ans. 19
t = set(range(1,4))
u = set(range(3,6))
print(t|u)

{1, 2, 3, 4, 5}

In [47]:
#Ans. 20
v= set(range(1,4))
w = set(range(2,5))
print(v&w)

{2, 3}

In [48]:
#Ans. 21
x = {"name":"Nikunj", "age":23,"city":"Ahmedabad"}
print(x)

{'name': 'Nikunj', 'age': 23, 'city': 'Ahmedabad'}

In [49]:
#Ans. 22
y = {"name":"John", "age":25}
y["country"] = "USA"
print(y)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [51]:
#Ans. 23
z = {"name":"Alice", "age":30}
print(z["name"])

Alice

In [54]:
#Ans. 24
aa = {"name":"Bob", "age":22, "city":"New York"}
del aa["age"]
print(aa)

{'name': 'Bob', 'city': 'New York'}

In [58]:
#Ans. 25
ab = {"name":"Alice", "city":"Paris"}
if "city" in ab:
  print("city is", ab["city"])
else:
  print("city is not present")

city is Paris

In [12]:
#Ans. 26
ac = list(range(1,11))
print(ac)
ad = (tuple(ac))
print(ad)
af = { }

for i,j in zip(ac,ad):
  af[i]=j
print(af)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [13]:
#Ans. 27

In [14]:
#Ans. 28
ag = ["mango", "table", "pen", "book" ,"laptop", "mobile"]
print(ag[3])

book

In [35]:
#Ans. 29
ah = {"number":{1:"one", 2: "two", 3:"three"},
     "alphabet":{1:"A", 2:"B", 3:"C"},
      "Roman number":{1:"I",2:"II",3:"III"}}
for i in ah:
  print(i, ":",  ah[i])

number : {1: 'one', 2: 'two', 3: 'three'}
alphabet : {1: 'A', 2: 'B', 3: 'C'}
Roman number : {1: 'I', 2: 'II', 3: 'III'}

In [36]:
#Ans. 30"
ai = ["mango", "table", "pen", "book" ,"laptop", "mobile", "mango", "table", "Banna", "pages", "pen"]
aj = set(ai)
print(ai)
print(aj)

['mango', 'table', 'pen', 'book', 'laptop', 'mobile', 'mango', 'table', 'Banna', 'pages', 'pen']
{'mango', 'mobile', 'laptop', 'book', 'table', 'Banna', 'pen', 'pages'}